################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BM.DotNetCoreMiddlewareDemo/.vs/BM.DotNetCoreMiddlewareDemo
/BM.DotNetCoreMiddlewareDemo/obj
/BM.DotNetCoreMiddlewareDemo/bin/Debug/netcoreapp3.1
/BM.BookStore/bin/Debug/netcoreapp3.1
/BM.BookStore/obj/Debug/netcoreapp3.1
/BM.DependencyInjectionDemo/.vs/BM.DependencyInjectionDemo
/BM.DependencyInjectionDemo/bin/Debug/netcoreapp3.1
/BM.DependencyInjectionDemo/obj
/BM.TinyURL
/BM.CoAndContraVarianceDemo/.vs/BM.CoAndContraVarianceDemo/v16
/BM.CoAndContraVarianceDemo/obj
/BM.CoAndContraVarianceDemo/bin/Debug/netcoreapp3.1
