################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BM.DotNetCoreMiddlewareDemo/.vs/BM.DotNetCoreMiddlewareDemo
