################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BM.DotNetCoreMiddlewareDemo/.vs/BM.DotNetCoreMiddlewareDemo
/BM.DotNetCoreMiddlewareDemo/obj
/BM.DotNetCoreMiddlewareDemo/bin/Debug/netcoreapp3.1
